ul {
  display: flex;
  list-style: none;
  background: #333;
  overflow: hidden;
}

li a {
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

li a:hover:not(.active) {
  background-color: #111
}

.active {
  background-color: #04AA6D;
  ;
}